<h1>Add a Visitor</h1>
<form action="#" method="post">
   <div class="form-group">
       <label for="full_name">full_name:</label>
       <input type="text" maxlength="100" name="full_name" placeholder="Full Name">

       <label for="age">Age:</label>
       <input type="integer" maxlength="3" name="age" placeholder="Age of Visitor">

       <label for="date_of_visit">date_of_visit:</label>
       <input maxlength="100" name="date_of_visit" placeholder="Date of Visit">
       
       <label for="time_of_visit">time_of_visit:</label>
       <input maxlength="100" name="time_of_visit" placeholder="Time of Visit">
       
       <label for="comments">comments:</label>
       <input maxlength="100" name="comments" placeholder="Comments">

       <label for="visitor_assistant">visitor_assistant:</label>
       <input maxlength="100" name="visitor_assistant" placeholder="Visitor Assistant">
       
       

       <button type="submit">Create</button>

   </div>
</form>